<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header bg-primary">
                    <h3 class="card-title">User Details</h3>
                    <button class="btn btn-success float-end" (click)="add()">Add user</button>
                </div>
                <div class="col-md-12">

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped" *ngIf="userdata">
                            <thead>
                                <tr class="text-center">
                                    <th>SI.NO</th>
                                    <th>User Code</th>
                                    <th>User Name</th>
                                    <th>Mobile No</th>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Place</th>
                                    <th>Mac Address</th>
                                    <th>Showroom Name</th>
                                    <th>Role</th>
                                    <th>Edit & Delete</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let data of userdata | paginate: { itemsPerPage: count, currentPage: p }; let i=index;">
                                    <td>{{ (p - 1) * count + i +1 }}</td>
                                    <td>{{data.userCode}}</td>
                                    <td>{{data.userName}}</td>
                                    <td>{{data.mobileNo}}</td>
                                    <td>{{data.gender}}</td>
                                    <td>{{data.dob}}</td>
                                    <td>{{data.place}}</td>
                                    <td>{{data.macAddress}}</td>
                                    <td>{{data.showRoomName}}</td>
                                    <td>{{data.role}}</td>
                                    <td class="text-left"><button class="btn btn-success btn-sm" (click)="viewbyid(data.userCode)"><i class="fas fa-edit" style="color: white;"  data-toggle="modal" data-target="#exampleModal"
                                        data-whatever="@mdo" ></i></button>
                                        <button class="btn btn-danger btn-sm"  (click)="delete(data.userCode)"><i class="fa fa-trash" style="color: white;" aria-hidden="true"></i></button></td>
                                </tr>
                            </tbody>
                        </table>                    
                    </div>
                    <div class="text-right" *ngIf="userdata">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>  
                      </div>
                      <div *ngIf="!userdata" class="pt-3">
                        <p  class="text-center text-danger"><small>No data found</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>