<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header bg-primary">
            <h3 class="card-title">Bike Variant</h3>
          </div>
          <form [formGroup]="variantForm" (ngSubmit)="submit()">
            <div class="row p-3">
              <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">Color Name</label> 
                    <select formControlName="colorId" class="form-control dropdown-primary" id="Select1">
                      <option *ngFor="let data of color"  [value]=data.colorId selected>{{data.colorName}}</option>
                  </select>
                  </div>                
              </div>           
              <div class="col-md-3">
                
                  <div class="form-group">
                    <label for="exampleInputEmail1">Variant Name</label>
                    <input type="text" class="form-control" formControlName="variantName"  placeholder="variant">
                  </div>
               
              </div>
              <div class="col-md-3">
                
                  <div class="form-group">
                    <label for="exampleInputEmail1">Years of Warranty</label>
                    <input type="text" class="form-control" formControlName="yearsOfWarranty"  placeholder="Years of Warranty">
                  </div>
                
              </div>
              <div class="col-md-3">
                
                  <div class="form-group">
                    <label for="exampleInputEmail1">Oil Change </label>
                    <input type="text" class="form-control" formControlName="oilChange"  placeholder="Oil Change">
                  </div>
                
              </div>
              <div class="col-md-3">
                
                  <div class="form-group">
                    <label for="exampleInputEmail1">Current Model </label>
                    <input type="text" class="form-control" formControlName="currentModel"  placeholder="Current Model">
                  </div>
                
              </div>
              <div class="col-md-3">
                
                  <div class="form-group">
                    <label for="exampleInputEmail1">HSN Code </label>
                    <input type="text" class="form-control" formControlName="hsnCode"  placeholder="HSN Code">
                  </div>
               
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                  <div class="col-md-6">                
                    <div class="form-group">
                      <label for="exampleInputEmail1">Invoice Amount</label>
                      <input type="number" class="form-control" formControlName="invoiceAmount" [(ngModel)]="num1" (change)="sum()" placeholder="Invoice Amount">
                    </div>                  
                </div>
                <div class="col-md-6">                  
                    <div class="form-group">
                      <label for="exampleInputEmail1">Life Tax</label>
                      <input type="number" class="form-control" formControlName="lifeTax" [(ngModel)]="num2" (change)="sum()" placeholder="Life Tax">
                    </div>                  
                </div>
                <div class="col-md-6">                  
                    <div class="form-group">
                      <label for="exampleInputEmail1">Insurance</label>
                      <input type="number" class="form-control" formControlName="insurance" [(ngModel)]="num3" (change)="sum()" placeholder="Insurance">
                    </div>                  
                </div>
                <div class="col-md-6">                  
                    <div class="form-group">
                      <label for="exampleInputEmail1">Dealer Rate</label>
                      <input type="number" class="form-control" formControlName="dealerRate"  placeholder="Dealer Rate">
                    </div>                  
                </div>
                </div>
              </div>
                <div class="col-md-6">
                  <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">IGST</label>
                      <input type="number" class="form-control" formControlName="igst"  [(ngModel)]="igstp" (change)="igst()" placeholder="%">
                    </div>                 
                </div>
                <div class="col-md-6">                  
                    <div class="form-group">
                      <label for="exampleInputEmail1">CGST</label>
                      <input type="number" class="form-control" formControlName="cgst" [(ngModel)]="cgstp" (change)="cgst()"  placeholder="%">
                    </div>                  
                </div>
                <div class="col-md-6">                  
                    <div class="form-group">
                      <label for="exampleInputEmail1">SGST</label>
                      <input type="number" class="form-control" formControlName="sgst" [(ngModel)]="sgstp" (change)="sgst()"  placeholder="%">
                    </div>                  
                </div>
                </div>
              </div>
            </div>
             
              <div class="col-md-3">
                
                  <div class="form-group">
                    <label for="exampleInputEmail1">Total</label>
                    <input type="number" class="form-control" formControlName="total"  [value]="this.solution" placeholder="Total">
                  </div>
                
              </div>
              <div class="col-md-3">
                <div class="card-body pt-5">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-primary">
          
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr class="text-center">
                  <th>SI.NO</th>
                  <th>Variant Name</th>
                  <th>Color Name</th>
                  <!-- <th>Color Code</th>                 -->
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let data of variant; let i=index;">
                  <td>{{i+1}}</td>
                  <td>{{data.variantName}}</td>
                  <td>{{data.colorName}}</td>    
                  <!-- <td>{{data.colorCode}}</td>             -->
                  <td><i class="fas fa-edit" style="color: blue;"(click)="Editcolor(data.variantId)"></i></td>
                  <td><i class="fa fa-trash" (click)="Delete(data.variantId)" style="color: red;" aria-hidden="true"></i></td>
                </tr> 
              </tbody>
            </table>
          
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>