<div class="container-fluid">
    <div class="row">
      <div class="col-md-12"  *ngIf="displayadd">
        <div class="card card-primary">
          <div class="card-header bg-primary">
            <h3 class="card-title">Variant Details</h3>
            <button class="btn btn-success float-end btn-sm" (click)="listdisplay()">View Bike variant List</button>
          </div>
          <form [formGroup]="variantForm" (ngSubmit)="submit()">
            <div class="row p-3">
              <div class="col-md-3">                
                  <div class="form-group">
                    <label for="exampleInputEmail1">Bike Model</label> 
                    <select formControlName="modelId" class="form-select dropdown-primary" (change)="changebike($event)" [(ngModel)]="selectedQuantity" id="Select1" (change)="selectmodel($event)">
                      <option value="0" disabled>Select</option>
                      <option *ngFor="let data of bikemodeldata"  [value]=data.modelId selected>{{data.modelName}}</option>
                  </select>
                  <div *ngIf="changebm">
                    <span class="text-danger">
                  <small>Bike Model name is required</small> 
                  </span>
                  </div> 
                  </div>               
              </div>   
              <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">Color Name</label> 
                    <select formControlName="colorId" class="form-select dropdown-primary" (change)="changecolor($event)" [(ngModel)]="selectedQuantity1" id="Select1">
                      <option value="0" disabled>Select</option>
                      <option *ngFor="let data of color"  [value]=data.colorId selected>{{data.colorName}}</option>
                  </select>
                  <div *ngIf="changec">
                    <span class="text-danger">
                  <small>Color name is required</small> 
                  </span>
                  </div> 
                  </div>                
              </div>   
              <div class="col-md-3">                
                <div class="form-group">
                  <label for="exampleInputEmail1">Variant Name</label>
                  <input type="text" class="form-control" formControlName="variantName"  placeholder="Variant">
                  <div *ngIf="submitted">
                    <span class="text-danger" *ngIf="variantForm.controls.variantName.errors?.required">
                  <small>Variant name is required</small> 
                  </span>
                  </div>
                </div>               
            </div>
              <div class="col-md-3">                
                <div class="form-group">
                  <label for="exampleInputEmail1">Variant Code</label>
                  <input type="text" class="form-control" formControlName="variantCode"  placeholder="Variant Code">
                  <div *ngIf="submitted">
                    <span class="text-danger" *ngIf="variantForm.controls.variantCode.errors?.required">
                  <small>Variant code is required</small> 
                  </span>
                  </div>
                </div>               
            </div>        
              
              <div class="col-md-3">                
                  <div class="form-group">
                    <label for="exampleInputEmail1">Years of Warranty</label>
                    <input type="number" class="form-control" formControlName="yearsOfWarranty"  placeholder="Years of Warranty">
                    <div *ngIf="submitted">
                      <span class="text-danger" *ngIf="variantForm.controls.variantName.errors?.required">
                    <small>Years of Warranty required</small> 
                    </span>
                    </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Oil Change in km</label>
                    <input type="number" class="form-control" formControlName="oilChange"  placeholder="Oil Change">
                    <div *ngIf="submitted">
                      <span class="text-danger" *ngIf="variantForm.controls.oilChange.errors?.required">
                    <small>Oil Change required</small> 
                    </span>
                    </div>
                  </div>
              </div>             
              <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">HSN Code</label>
                    <input type="number" class="form-control" formControlName="hsnCode"  placeholder="HSN Code">
                    <div *ngIf="submitted">
                      <span class="text-danger" *ngIf="variantForm.controls.hsnCode.errors?.required">
                    <small>HSN Code is required</small> 
                    </span>
                    </div>
                  </div>
              </div>
              <div class="col-md-3">                
                <div class="form-group row pt-5">
                  <div class="col-md-6">
                    <label for="exampleInputEmail1">Current Model </label>
                  </div>
                 <div class="col-md-6">
                  <input  class="form-check-input"  type="checkbox"  value="0" formControlName="currentModel"  id="flexCheckChecked"
                  [checked]="false" (change)="changemodel($event)"
                />
                  <!-- <input  type="checkbox" class="form-group" formControlName="currentModel" [checked]="currentModel" (change)="changemodel()"/> -->
                 </div>
                  
                </div>                
            </div>
              <div class="row">
                <div class="col-md-6">
                  <fieldset class="border p-2">
                    <legend  class="float-none w-auto p-2">Amount Details</legend>
                  <div class="row">
                  <div class="col-md-6">                
                    <div class="form-group">
                      <label for="exampleInputEmail1">Invoice Amount</label>
                      <input type="number" class="form-control" formControlName="invoiceAmount" (keyup)="sum1()" placeholder="Invoice Amount">
                      <div *ngIf="submitted">
                        <span class="text-danger" *ngIf="variantForm.controls.invoiceAmount.errors?.required">
                      <small>Invoice Amount required</small> 
                      </span>
                      </div>
                    </div>                  
                </div>
                <div class="col-md-6">                  
                  <div class="form-group">
                    <label for="exampleInputEmail1">Dealer Rate</label>
                    <input type="number" class="form-control" formControlName="dealerRate"  placeholder="Dealer Rate">
                    <div *ngIf="submitted">
                      <span class="text-danger" *ngIf="variantForm.controls.dealerRate.errors?.required">
                    <small>Dealer Rate required</small> 
                    </span>
                    </div>
                  </div>                  
              </div>
                <div class="col-md-4">                  
                    <div class="form-group">
                      <label for="exampleInputEmail1">Life Tax</label>
                      <input type="number" class="form-control" formControlName="lifeTax" (keyup)="sum2()" placeholder="Life Tax">
                      <div *ngIf="submitted">
                        <span class="text-danger" *ngIf="variantForm.controls.lifeTax.errors?.required">
                      <small>Life Tax required</small> 
                      </span>
                      </div>
                    </div>                  
                </div>
                <div class="col-md-4">                  
                    <div class="form-group">
                      <label for="exampleInputEmail1">Insurance</label>
                      <input type="number" class="form-control" formControlName="insurance" (keyup)="sum3()" placeholder="Insurance">
                      <div *ngIf="submitted">
                        <span class="text-danger" *ngIf="variantForm.controls.insurance.errors?.required">
                      <small>Insurance amount required</small> 
                      </span>
                      </div>
                    </div>                  
                </div>
                <div class="col-md-4">                  
                  <div class="form-group">
                    <label for="exampleInputEmail1">HR Fee</label>
                    <input type="number" class="form-control" formControlName="hrFee" (keyup)="sum4()" placeholder="HR Fee">
                    <div *ngIf="submitted">
                      <span class="text-danger" *ngIf="variantForm.controls.hrFee.errors?.required">
                    <small>HRFee required</small> 
                    </span>
                    </div>
                  </div>                  
              </div>
              <div class="col-md-4">                  
                <div class="form-group">
                  <label for="exampleInputEmail1">HYP Charges </label>
                  <input type="number" class="form-control" formControlName="hypCharges" (keyup)="sum5()" placeholder="HYP Charges">
                  <div *ngIf="submitted">
                    <span class="text-danger" *ngIf="variantForm.controls.hypCharges.errors?.required">
                  <small>HYP Charges required</small> 
                  </span>
                  </div>
                </div>                  
            </div>
            <div class="col-md-4">                  
              <div class="form-group">
                <label for="exampleInputEmail1">Extra Charges </label>
                <input type="number" class="form-control" formControlName="extraCharges" (keyup)="sum6()" placeholder="Extra Charges">
                <div *ngIf="submitted">
                  <span class="text-danger" *ngIf="variantForm.controls.extraCharges.errors?.required">
                <small>Extra Charges required</small> 
                </span>
                </div>
              </div>                  
          </div>
          <div class="col-md-4">                  
            <div class="form-group">
              <label for="exampleInputEmail1">Other Charges</label>
              <input type="number" class="form-control" formControlName="otherCharges" (keyup)="sum7()" placeholder="Other Charges">
              <div *ngIf="submitted">
                <span class="text-danger" *ngIf="variantForm.controls.otherCharges.errors?.required">
              <small>Other Charges required</small> 
              </span>
              </div>
            </div>                  
        </div>
                </div>
                </fieldset>
              </div>
                <div class="col-md-6">
                  <fieldset class="border p-2">
                    <legend  class="float-none w-auto p-2">Tax GST Details</legend>
                  <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">IGST</label>
                      <input type="number" class="form-control" formControlName="igst"  placeholder="%">
                      <div *ngIf="submitted">
                        <span class="text-danger" *ngIf="variantForm.controls.igst.errors?.required">
                      <small>IGST percentage required</small> 
                      </span>
                      </div>
                    </div>                 
                </div>
                <div class="col-md-4">                  
                    <div class="form-group">
                      <label for="exampleInputEmail1">CGST</label>
                      <input type="number" class="form-control" formControlName="cgst" placeholder="%">
                      <div *ngIf="submitted">
                        <span class="text-danger" *ngIf="variantForm.controls.cgst.errors?.required">
                      <small>CGST percentage required</small> 
                      </span>
                      </div>
                    </div>                  
                </div>
                <div class="col-md-4">                  
                    <div class="form-group">
                      <label for="exampleInputEmail1">SGST</label>
                      <input type="number" class="form-control" formControlName="sgst" placeholder="%">
                      <div *ngIf="submitted">
                        <span class="text-danger" *ngIf="variantForm.controls.sgst.errors?.required">
                      <small>SGST percentage required</small> 
                      </span>
                      </div>
                    </div>                  
                </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Total</label>
                  <input type="number" class="form-control" formControlName="total"  [value]="this.total" placeholder="Total">
                  <div *ngIf="submitted">
                    <span class="text-danger" *ngIf="variantForm.controls.total.errors?.required">
                  <small>Total amount required</small> 
                  </span>
                  </div>
                </div> 
                <div class="col-md-12 text-center">
                  <div class="card-body pt-2">
                    <button type="submit" *ngIf="!variantId" class="btn btn-primary">Submit</button>
                    <button type="submit" *ngIf="variantId" class="btn btn-primary">Update</button>
                  </div>
                </div>
                </fieldset>
              </div>
            </div>  
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-12" *ngIf="!displayadd">
        <div class="card card-primary">
          <div class="card-header bg-primary" >     
            <h3 class="card-title">Variant Details</h3>             
            <button class="btn btn-success float-end btn-sm" (click)="display()">Add New variant</button>
          </div>
            <table id="example1" class="table table-bordered table-striped" *ngIf="variant">
              <thead>
                <tr class="text-center">
                  <th>S.No</th>
                  <th>Model Name</th>
                  <th>Color Name</th>
                  <th>Variant Name</th>
                  <th>Variant Code</th>                  
                  <!-- <th>Color Code</th>                 -->
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let data of variant  | paginate: { itemsPerPage: count, currentPage: p }; let i=index;">
                  <td>{{ (p - 1) * count + i +1 }}</td>
                  <td>{{data.modelName}}</td>    
                  <td>{{data.colorName}}</td>  
                  <td>{{data.variantName}}</td>  
                  <td>{{data.variantCode}}</td>                  
                  <!-- <td>{{data.colorCode}}</td>             -->
                  <td> <button class="btn btn-success btn-sm" (click)="Editcolor(data.variantId)"><i class="fas fa-edit" style="color: white;"></i></button></td>
                  <td> <button class="btn btn-danger btn-sm" (click)="Delete(data.variantId)"><i class="fa fa-trash"  style="color: white;" aria-hidden="true"></i></button></td>
                </tr> 
              </tbody>
            </table>
            <div class="text-right" *ngIf="variant">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>  
            </div>
            <div *ngIf="!variant" class="pt-3">
              <p  class="text-center text-danger"><small>No data found</small></p>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>