
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header bg-primary">
                    <h3 class="card-title">Enquiry Details</h3>
                    <button class="btn btn-success float-end btn-sm" (click)="addshow()">Add Enquiry</button>
                </div>
                <div class="col-md-3 pt-2" *ngIf="roleid==1">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Showroom</label>
                        <select class="form-select" (change)="showroomchange($event)">
                            <option>Select</option>
                            <option *ngFor="let data of showdata" [value]="data.showRoomId">{{data.showRoomName}}</option>
                        </select>
                    </div>
                </div>
                <table id="example1" class="table table-bordered table-striped" *ngIf="list">
                    <thead>
                        <tr class="text-center">
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Mobile No</th>
                            <th>Planing Date</th>
                            <th>Vehicle Type</th>
                            <th>Place</th>
                            <th>Follow</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let data of list| paginate: { itemsPerPage: count, currentPage: p };let i=index;">
                            <td>{{ (p - 1) * count + i +1 }}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.mobileNo}}</td>
                            <td>{{data.planningDate | date:'dd-MM-yyyy' }} <small class="badge badge-danger">{{data.followCount}}</small>
                            </td>
                            <td>{{data.interestedInName}}</td>
                            <td>{{data.place}}</td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="fas fa-edit" data-toggle="modal" data-target="#exampleModal"
                                    data-whatever="@mdo" (click)="popup(data.enquiryId)"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right" *ngIf="list">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>  
                  </div>
                <div *ngIf="!list">
                    <p  class="text-center text-danger"><small>No data found</small></p>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document" >
                        <div class="modal-content" style="width: 600px;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" *ngIf="flowcount==0">
                                <form [formGroup]="popupForm" (ngSubmit)="submit()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Remarks</label>
                                                <textarea class="form-control" rows="4" formControlName="remarks"></textarea>
                                                <div class="text-danger" *ngIf="submitted">
                                                    <span  *ngIf="popupForm.controls.remarks.errors?.required">Remarks required.</span> 
                                                 </div> 
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Planing Date</label>
                                                <input type="date" class="form-control" id="recipient-name"
                                                    [readonly]="enquiryDetailsId" formControlName="planningDate">
                                                    <div class="text-danger" *ngIf="submitted">
                                                        <span  *ngIf="popupForm.controls.planningDate.errors?.required">Planing Date required.</span> 
                                                     </div> 
                                                <button type="submit" class="btn btn-primary mt-3"
                                                    *ngIf="enquiryDetailsId =='' &&  flowcount!=3 && status!='InProgress'">Save</button>
                                                <button type="submit" class="btn btn-primary mt-3"
                                                    *ngIf="enquiryDetailsId!=''">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-body">
                                <table class="table" *ngIf="enquirydetailslist">
                                    <thead>
                                        <th>No</th>
                                        <th>Date</th>
                                        <th>Remarks</th>
                                        <th>Status</th>
                                        <th *ngIf="flowcount==0">Edit</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of enquirydetailslist| paginate: { itemsPerPage: count, currentPage: p };let i=index;">
                                            <td>{{ (p - 1) * count + i +1 }}</td>
                                            <td>{{data.planningDate | date:'dd-MM-yyyy'}}</td>
                                            <td>{{data.remarks}}</td>
                                            <td>{{data.statusName}}</td>
                                            <td *ngIf="flowcount==0"><button class="btn btn-sm btn-primary"> <i class="fas fa-edit"
                                                    (click)="editdetails(data.enquiryDetailsId)"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-right" *ngIf="enquirydetailslist">
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>  
                                  </div>
                                <div *ngIf="!enquirydetailslist" class="text-center text-danger">
                                    <small>No data found</small>
                                </div>
                            </div>
                            <div class="model-footer" *ngIf="flowcount==0">
                                <div class="col-md-12 mb-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <!-- <label for="exampleFormControlSelect1">Example select</label> -->
                                                <select class="form-select" [(ngModel)]="closedata">
                                                  <option value="" > Select Option</option>
                                                  <option ngValue="1">Not interest</option>
                                                  <option ngValue="2">Purchase</option>
                                                </select>
                                              </div>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-danger" (click)="closealldata()">Close</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-warning" (click)="clear()">Clear
                                                Data</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>