<div class="container-fluid">
    <div class="row">
      <div class="col-md-12"  *ngIf="displayadd">
        <div class="card card-primary">
          <div class="card-header bg-primary">
            <h3 class="card-title">Finance Details</h3>            
            <button class="btn btn-success float-end btn-sm" (click)="listdisplay()">View Finance Detail List</button>
          </div>
          <form [formGroup]="financeForm" (ngSubmit)="submit()">
            <div class="row p-3">
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Finance Name</label> 
                    <input type="text" class="form-control" formControlName="financeName" placeholder="Finance Name">
                    <div *ngIf="submitted">
                      <span class="text-danger" *ngIf="financeForm.controls.financeName.errors?.required">
                    <small>Finance name is required</small> 
                    </span>
                    </div> 
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Mobile No</label>
                    <input type="number" class="form-control" formControlName="mobileNo" id="exampleInputEmail1" placeholder="Mobile No">
                    <div class="text-danger" *ngIf="financeForm.controls.mobileNo.errors?.pattern"><small>Mobile No must be 10 digits</small></div>
                    <div *ngIf="submitted">
                      <span class="text-danger" *ngIf="financeForm.controls.mobileNo.errors?.required">
                    <small>Mobile No required</small> 
                    
                    </span>
                    </div> 
                  </div>
                </div>           
              <div class="col-md-10">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Address</label>
                    <textarea placeholder="Address" class="form-control" rows="3" formControlName="address"></textarea> 
                    <div *ngIf="submitted">
                      <span class="text-danger" *ngIf="financeForm.controls.address.errors?.required">
                    <small>Address required</small> 
                    </span>
                    </div> 
                  </div>
              </div>
              <div class="col-md-2">
                <div class="card-body pt-5">
                  <button type="submit" *ngIf="!financeDetailId" class="btn btn-primary">Submit</button>
                  <button type="submit" *ngIf="financeDetailId" class="btn btn-primary">Update</button>
                </div>
              </div>
            </div>
            
          </form>
        </div>
      </div>
      <div class="col-md-12"  *ngIf="!displayadd">
        <div class="card card-primary">
          <div class="card-body">
            <div class="card-header bg-primary" >     
              <h3 class="card-title">Finance Details</h3>             
              <button class="btn btn-success float-end btn-sm" (click)="display()">Add New Finance</button>
            </div>
            <table id="example1" class="table table-bordered table-striped" *ngIf="showdata">
              <thead>
                <tr class="text-center">
                  <th>S.No</th>
                  <th>Finance Name</th>
                  <th>Address</th>                
                  <th>Mobile No</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let data of showdata  | paginate: { itemsPerPage: count, currentPage: p }; let i=index;">
                  <td>{{ (p - 1) * count + i +1 }}</td>
                  <td>{{data.financeName}}</td>
                  <td>{{data.address}}</td>
                  <td>{{data.mobileNo}}</td>                
                  <td><button class="btn btn-success btn-sm" (click)="editFinance(data.financeDetailId)"><i class="fas fa-edit" style="color: white;" ></i></button></td>
                  <td><button class="btn btn-danger btn-sm" (click)="delete(data.financeDetailId)"><i class="fa fa-trash"  style="color: white;" aria-hidden="true"></i></button></td>
                </tr>              
              </tbody>
            </table>
            <div class="text-right" *ngIf="showdata">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>  
            </div>
            <div *ngIf="!showdata" class="pt-3">
              <p  class="text-center text-danger"><small>No data found</small></p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
