<div class="container">
    <div class="card card-style">
    <div class="row">
        <!-- BEGIN INVOICE -->
        
        <div class="col-md-12">
            <div class="grid invoice">
                <div class="grid-body p-2">
                    <div class="invoice-title">
                        <div class="card-header text-center">
                            <h1 class="text-center">VARAHALAKSHMI MOTORS</h1>
                            <p>10-2, PEDDAPADU ROAD, BESIDE SYNDICATE BANK, SRIKAKULAM-53201<br>Ph-04652 20198</p>
                    </div>
                    </div>
                    <div class="row mt-3 text-center">
                        <div class="col-md-4"><h3><b>ORIGINAL</b></h3></div>
                        <div class="col-md-4"><h3><b>TAX INVOICE</b></h3></div>
                        <div class="col-md-4"><h6><b>Invoice NO : AD34523<br><span class="paddingforDate pl-5 pr-2">DATE</span> : 16-02-2022</b></h6></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <p>To<br> <strong>ADHILAKSHMI LANDA<br>D/O TATTAYA
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <span><b>Phone:</b></span>(123) 456-7890</strong></p>
                               
                           
                            <p><strong>HAP/HYP SHRIRAMA CITY UNION FINANCE LTD, SRIKAKULAM
                                <span><b>Phone:</b></span> (123) 456-7890</strong></p>
                        </div>
                        <div class="col-md-4 text-right">
                            <address>
                                <h6><span class="paddingforContent  pr-2"><b>Sale Letter No</b></span> : V210096</h6>
                                <h6><span class="paddingforContent pr-2"><b>Receipt Number</b></span> : AD20094</h6>
                                <br><br><br><br>
                                <h6><span><b>Mob:</b></span>&nbsp;+91 8965435656</h6>
                                <br>
                                <!-- <h6><b  style="background-color: rgb(215, 220, 224);">Amont Due (USD):$2450.00</b></h6> -->
                            </address>
                            
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-md-6"><h6>Frame No:<b>&nbsp;7676887</b></h6>
                            <h6>Eng No:<b>&nbsp;G3B078787</b></h6></div>
                        <div class="col-md-6">
                            <h6>F.S Coup<b>&nbsp;87878</b></h6><h6>Key No : <b> &nbsp;879</b></h6></div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-md-10"><h6>Cost of One No Brand New <b> YAMAHA FZ-25 MOTO GP(B9X5) BLACK METALIC</b><br> with toolkit as supplied by the (manufacturer along with)<br> Manual service coupon book & first aid kit</h6></div>
                        <div class="col-md-2"><h5><b>Rs 109,89,00</b></h5></div>
                    </div>
                    <br><br>
                    <div class="row mt-3">
                        <div class="col-md-8"><p>HSN Code: <b>8711 </b> </p></div>
                        <div class="col-md-4"><p><b>GST Tax: 15.00% : </b> 15,980.00</p>
                            <p><b>SGST Tax: 15.00% : </b> 16,980.00</p></div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-md-8"><h6>Rupees<b> ONE FOUR SIX NINE EIGHT ZERO</b></h6></div>
                        <div class="col-md-2"><h6><b>Total</b></h6></div>
                        <div class="col-md-2"><h6>146,980</h6></div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-md-8"><h6>Received One<b> YAMAHA FZ-25 MOTO GP(B9X5) BLACK METALIC</b></h6>
                            <br>
                            <h6>as detailed from<b>M/S VARAHALAKSHMI MOTORS</b></h6></div>
                       
                        <div class="col-md-4"><br><h6>for <b> VARAHALAKSHMI MOTOR</b></h6></div>
                    </div><br><br><br>
                    <div class="sign">
                        <h5>Receiver's Signature</h5>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-md-6"><h6>GSTIN<b> 37AAUHDSGHG</b></h6></div>
                        <div class="col-md-6"><p><b>SUBJECT TO SRIKAKULAM- 566580 JURICTION</b><br>Good Once Sold be cannot taken back</p></div>
                    </div>
                  
                </div>
            </div>
        </div>
        <!-- END INVOICE -->
    </div>
</div>
</div>