.card-style{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px;
    margin-top: 50px;
    width: 70%;
   
}
.grid-body{
    background-color:#FFFFFF;
  border:2px solid;

}
table {
width: 100%;
}
.text-right{
    position: relative;
  float: right;
  width:30%;
  margin: 0 auto;
}
.table-style{
    width:50%;
    position: relative;
    float: right;    
    margin: 0 auto;
}
.card-header
{
    background-color: #fff;
}
.invoice-title{
    
  border:2px solid;
}