<div class="container">
    <div class="card card-style">
    <div class="row">
        <!-- BEGIN INVOICE -->
        
        <div class="col-md-12">
            <div class="grid">
                <div class="grid-body p-2">
                    <div class="invoice-title">
                        <div class="card-header text-center">
                            <h1 class="text-center">VARAHALAKSHMI MOTORS</h1>
                            <p>10-2, PEDDAPADU ROAD, BESIDE SYNDICATE BANK, SRIKAKULAM-53201<br>Ph-04652 20198</p>
                    </div>
                    </div>
                    <div class="row mt-3 text-center" style="border-bottom: 2px solid black;">
                        <div class="col-md-4"><h3><b>ORIGINAL</b></h3></div>
                        <div class="col-md-4"><h3><b>TAX INVOICE</b></h3></div>
                        <div class="col-md-4"><h4><b>Invoice NO : {{indata.invoiceNo}}<br><span class="paddingforDate pl-5 pr-2">DATE</span> : {{indata.invoiceDate }}</b></h4></div>
                    </div>
                    
                    <div class="row" style="border-bottom: 2px solid black;">
                        <div class="col-md-8">
                            <p>To<br> <strong>{{indata.customerName}}<br>{{indata.presentDoorNo}},{{indata.presentAreaName}}<br>
                                {{indata.presentCity}}, {{indata.presentDistrict}}<br>
                                <span><b>Phone:</b></span>{{indata.mobileNo}}</strong></p>
                               
                           
                            <p *ngIf="indata.financeName"><strong>{{indata.financeName}},{{indata.financeAddress}}
                                <span><b>Phone:</b></span> {{indata.financeMobileNo}}</strong></p>
                        </div>
                        <div class="col-md-4 text-right">
                            <address class="pt-3"> 
                                <!-- <h5><b>Sale Letter No</b> : V210096</h5>  -->
                                <h5><b>Receipt Number</b> : {{indata.receiptNos}}</h5>
                                <br>
                                <h5><span><b>Mob:</b></span>&nbsp;+91 8965435656</h5>
                                <br>
                                <!-- <h6><b  style="background-color: rgb(215, 220, 224);">Amont Due (USD):$2450.00</b></h6> -->
                            </address>
                            
                        </div>                        
                    </div>
                    
                    <div class="row mt-3" style="border-bottom: 2px solid black;">
                        <div class="col-md-6"><h4>Chassis No:<b>&nbsp;{{indata.chassisNo}}</b></h4>
                            <h4>Eng No:<b>&nbsp;{{indata.engineNo}}</b></h4></div>
                        <div class="col-md-6 float-end">
                            <h4>F.S Coup:<b>&nbsp;87878</b></h4><h4>Key No : <b> &nbsp;{{indata.keyNo}}</b></h4></div>
                    </div>
                    
                    <div class="row mt-3" style="border-bottom: 2px solid black;">
                        <div class="col-md-10"><h4>Cost of One No Brand New <b> {{indata.vehicleModelName}} {{indata.colorName}} {{indata.variantName}}</b><br> with toolkit as supplied by the (manufacturer along with)<br> Manual service coupon book & first aid kit</h4></div>
                        <div class="col-md-2"><h5><b>Rs {{indata.invoiceAmount}}</b></h5></div>
                    </div>
                    <div class="row mt-3" style="border-bottom: 2px solid black;">
                        <div class="col-md-8"><p>HSN Code: <b>{{indata.hsnCode}} </b> </p></div>
                        <div class="col-md-4"><p><b>Tax Amount: </b> {{indata.tax}}</p>
                            <!-- <p><b>SGST Tax: 15.00% : </b> 16,980.00</p></div> -->
                        </div>
                    </div>
                   
                    <div class="row mt-3" style="border-bottom: 2px solid black;">
                        <div class="col-md-8"><h4>Rupees<b> ONE FOUR SIX NINE EIGHT ZERO</b></h4></div>
                        <div class="col-md-2"><h4><b>Total</b></h4></div>
                        <div class="col-md-2"><h4>{{indata.invoiceAmount}}</h4></div>
                    </div>
                    
                    <div class="row mt-3" style="border-bottom: 2px solid black;">
                        <div class="col-md-8"><h4>Received One<b> {{indata.vehicleModelName}} {{indata.colorName}} {{indata.variantName}}</b></h4>
                            <h4>as detailed from<b>M/S VARAHALAKSHMI MOTORS</b></h4></div>                       
                        <div class="col-md-4"><br><br><br><h4>for <b> VARAHALAKSHMI MOTOR</b></h4></div>
                    <br>
                    <div class="sign" >
                        <h5>Receiver's Signature</h5>
                    </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><h4>GSTIN:<b> 37AAUHDSGHG</b></h4></div>
                        <div class="col-md-6"><h4>SUBJECT TO SRIKAKULAM- 566580 JURICTION<br>Good Once Sold be cannot taken back</h4></div>
                    </div>
                  
                </div>
            </div>
        </div>
        <!-- END INVOICE -->
    </div>
</div>
</div>