<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header bg-primary">
                    <h3 class="card-title">Vehicle Stock Details</h3>
                </div>
                <form [formGroup]="stockForm" (ngSubmit)="submit()">
                    <div class="row p-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="modelName">Showroom Name</label>
                                <select class="form-select" formControlName="ShowRoomId">
                                    <option value="0">All showroom name</option>
                                    <option *ngFor="let data of showroomdata;" [value]="data.showRoomId">{{data.showRoomName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="modelName">Model Name</label>
                                <select class="form-select" formControlName="VehicleModelId">
                                    <option value="0">All Model Name</option>
                                    <option *ngFor="let bikemodel of bikemodelname;let i=index;" [value]="bikemodel.modelId">{{bikemodel.modelName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 my-4">
                            <div class="form-group text-center pt-1">
                                <button class="btn btn-success" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    
    <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr class="text-center">
                  <th>S.No</th>
                  <th>Received Date</th>
                  <th>Chassis No</th>                                   
                  <th>Engine No</th>
                  <th>Showroom Name</th>
                  <th>Color Name</th>
                  <th>Model Name</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let data of vehiclestock;let i=index;">
                  <td>{{i+1}}</td>
                  <td>{{data.receivedDate|date}}</td>        
                  <td>{{data.chassisNo}}</td>
                  <td>{{data.engineNo}}</td>
                  <td>{{data.showRoomName}}</td>
                  <td>{{data.colorName}}</td>      
                  <td>{{data.vehicleModelName}}</td>               
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
</div>