<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" *ngIf="displayadd">
      <div class="card card-primary">
        <div class="card-header bg-primary">
          <h3 class="card-title">Color Details</h3>
          <button class="btn btn-success float-end btn-sm" (click)="listdisplay()">View Bike color List</button>
        </div>
        <form [formGroup]="colorForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-3">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Bike Model</label> 
                  <select formControlName="modelId" class="form-select dropdown-primary" id="Select1" (change)="bikechange($event)"  [(ngModel)]="selectedQuantity">
                    <option value="0" disabled>Select</option>
                    <option *ngFor="let data of bikemodeldata"  [value]=data.modelId selected>{{data.modelName}}</option>
                </select>
                <div *ngIf="selectoption">
                  <span class="text-danger">
                <small>Bike Model name is required</small> 
                </span>
                </div> 
                </div>
              </div>
            </div>           
            <div class="col-md-3">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Color Name</label>
                  <input type="text" class="form-control" formControlName="colorName" id="exampleInputEmail1" placeholder="Color Name">
                  <div *ngIf="submitted">
                    <span class="text-danger" *ngIf="colorForm.controls.colorName.errors?.required">
                  <small>Color name is required</small> 
                  </span>
                  </div> 
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Color Code</label>
                  <input type="text" class="form-control" formControlName="colorCode" id="exampleInputEmail1" placeholder="Color Code">
                  <div *ngIf="submitted">
                    <span class="text-danger" *ngIf="colorForm.controls.colorName.errors?.required">
                  <small>Color code is required</small> 
                  </span>
                  </div> 
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-body pt-5">
                <button type="submit" *ngIf="!variantId" class="btn btn-primary">Submit</button>
                <button type="submit" *ngIf="variantId" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12" *ngIf="!displayadd">
      <div class="card card-primary">
        <div class="card-body">
          <div class="card-header bg-primary" >     
            <h3 class="card-title">Color Details</h3>             
            <button class="btn btn-success float-end btn-sm" (click)="display()">Add New Color</button>
          </div>
          <table id="example1" class="table table-bordered table-striped" *ngIf="colordata">
            <thead>
              <tr class="text-center">
                <th>S.No</th>
                <th>Bike Model</th>
                <th>Color Name</th>
                <th>Color Code</th>                
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let data of colordata | paginate: { itemsPerPage: count, currentPage: p }; let i=index;">
                <td>{{ (p - 1) * count + i +1 }}</td>
                <td>{{data.modelName}}</td>
                <td>{{data.colorName}}</td>    
                <td>{{data.colorCode}}</td>            
                <td> <button class="btn btn-success btn-sm" (click)="Editcolor(data.colorId)"> <i class="fas fa-edit" style="color: white;"></i></button></td>
                <td> <button class="btn btn-danger btn-sm" (click)="Delete(data.colorId)"><i class="fa fa-trash"  style="color: white;" aria-hidden="true"></i></button></td>
              </tr>              
            </tbody>
          </table>
          <div class="text-right" *ngIf="colordata">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>  
          </div>
          <div *ngIf="!colordata" class="pt-3">
            <p  class="text-center text-danger"><small>No data found</small></p>
        </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>