<div class="container-fluid">
    <div class="row">
      <div class="col-md-12" *ngIf="displayadd">
        <div class="card card-primary">
          <div class="card-header bg-primary">
            <h3 class="card-title">Bike Model Details</h3>
            <button class="btn btn-success float-end btn-sm" (click)="listdisplay()">View Bike Model List</button>
          </div>
          <form [formGroup]="bikemodelForm" (ngSubmit)="submit()">
            <div class="row">
            <div class="col-md-3">
              <div class="card-body">
                <div class="form-group">
                  <label for="bikeType">Vehicle Type</label>
                  <!-- <input class="form-control" list="vehicle"
                  placeholder="Type to search..." formControlName="vehicleType"> -->
                <select id="vehicle" class="form-select" formControlName="vehicleType" (change)="selectbikemodel($event)" [(ngModel)]="selectedQuantity">
                  <option value="0" disabled>Select</option>
                  <option value="1">Bike</option>
                  <option value="2">Scooty</option>
                </select>
                <div *ngIf="selectoption">
                  <span class="text-danger">
                <small>Vehicle type is required</small> 
                </span>
                </div> 
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-body">
                <div class="form-group">
                  <label for="modelName">Model Name</label>
                  <input type="text" class="form-control" formControlName="modelName" id="modelName" placeholder="Model Name">
                  <div *ngIf="submitted">
                    <span class="text-danger" *ngIf="bikemodelForm.controls.modelName.errors?.required">
                  <small>Model name is required</small> 
                  </span>
                  </div> 
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-body">
                <div class="form-group">
                  <label for="modelName">Model Code</label>
                  <input type="text" class="form-control" formControlName="modelCode" id="modelName" placeholder="Model Code">
                  <div *ngIf="submitted">
                    <span class="text-danger" *ngIf="bikemodelForm.controls.modelCode.errors?.required">
                  <small>Model Code is required</small> 
                  </span>
                  </div> 
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card-body pt-5">
                <button type="submit"  *ngIf="!modelId" class="btn btn-primary">Submit</button>
                <button type="submit" *ngIf="modelId" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
      <div class="col-md-12" *ngIf="!displayadd">
      <div class="card card-primary">     
        <div class="card-body">
          <div class="card-header bg-primary" >     
            <h3 class="card-title">Bike Model Details</h3>             
            <button class="btn btn-success float-end btn-sm" (click)="display()">Add New Bike Model</button>
          </div>
          <table id="example1" class="table table-bordered table-striped" *ngIf="getbike">
            <thead>
              <tr class="text-center">
                <th>S.No</th>
                <th>Bike Type</th>
                <th>Model Name</th>
                <th>Model Code</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let data of getbike | paginate: { itemsPerPage: count, currentPage: p }; let i=index;">
                <td>{{ (p - 1) * count + i +1 }}</td>
                <td>{{data.vehicleTypeName}}</td>
                <td>{{data.modelName}}</td>
                <td>{{data.modelCode}}</td>
                <td><button class="btn btn-success btn-sm"  (click)="bikemodeledit(data.modelId)"><i class="fas fa-edit" style="color: white;"></i></button></td>
                <td><button class="btn btn-danger btn-sm" (click)="Delete(data.modelId)"> <i class="fa fa-trash" style="color: white;" aria-hidden="true"></i></button></td>
              </tr>
            </tbody>  
          </table>
          <div class="text-right" *ngIf="getbike">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>  
          </div>
          <div *ngIf="!getbike" class="pt-3">
            <p  class="text-center text-danger"><small>No data found</small></p>
        </div>
        	<!-- <ngb-pagination [collectionSize]="pagingNumber" [(page)]="page" [boundaryLinks]="true"></ngb-pagination> -->
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
  </div>
  