<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header bg-primary">
                    <h3 class="card-title">Vehicle Purchase Details</h3>
                    <button class="btn btn-success float-end" (click)="add()">Add Vehicle Purchase</button>
                </div>
                <div class="col-md-12">
                    <form [formGroup]="purchaselistForm" (ngSubmit)="submit()">
                        <div class="row pt-1">
                            <div class="col-md-3" *ngIf="roleid==1">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Showroom Name</label>
                                    <select class="form-select" (change)="showroomchange($event)" formControlName="showRoomId">
                                        <option value="" hidden>Select</option>
                                        <option *ngFor="let data of showdata" [value]="data.showRoomId">{{data.showRoomName}}</option>
                                    </select>
                                    <div *ngIf="submitted">
                                        <span class="text-danger" *ngIf="purchaselistForm.controls.showRoomId.errors?.required">
                                      <small>ShowRoom name is required</small> 
                                      </span>
                                      </div> 
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Yard Name</label>
                                    <select class="form-select" formControlName="yard">
                                        <option  value="" hidden>Select</option>
                                        <option *ngFor="let data of yard" [value]="data.yardId">{{data.yardName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Month</label>
                                    <select class="form-select" formControlName="month" [(ngModel)]="selectedQuantity" (change)="changemonth($event)">
                                        <option value="0">Select</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">From Date</label>
                                    <input type="date" class="form-control" (change)="choosedate()" formControlName="fromdate"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">To Date</label>
                                    <input type="date" class="form-control" formControlName="todate"/>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="form-group mt-3 pt-1">
                                    <button type="submit" class="btn btn-success">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="card-body">
                        <table id="example1" *ngIf="vehiclepurchase" class="table table-bordered table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th>S.No</th>
                                    <th>Invoice No</th>
                                    <th>Date</th>
                                    <th>Purchase Type</th>
                                    <th>Supplier Name</th>
                                    <th>Supplier Address</th>
                                    <th>Supplier GST</th>
                                    <th>Amount</th>
                                    <th>View Detail</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let data of vehiclepurchase  | paginate: { itemsPerPage: count, currentPage: p }; let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{data.invoiceNo}}</td>
                                    <td>{{data.invoiceDate|date}}</td>
                                    <td>{{data.purchaseType == 1 ? 'Within State':'Outside State'}}</td>
                                    <td>{{data.supplierName}}</td>
                                    <td>{{data.suppierAddress}}</td>
                                    <td>{{data.supplierGST}}</td>
                                    <td>{{data.netAmount}}</td>
                                    <td><i class="fas fa-eye" style="color: blue;"  data-toggle="modal" data-target="#exampleModal"
                                            data-whatever="@mdo" (click)="viewbyid(data.vehiclePurchaseId)"></i></td>
                                    <!-- <td><i class="fa fa-arrow-right" data-toggle="tooltip" data-placement="top" title="Move to purchase" (click)="movepurchase(data.transitId)" aria-hidden="true"></i></td> -->
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-right" *ngIf="vehiclepurchase">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>  
                          </div>
                          <div *ngIf="!vehiclepurchase" class="pt-3">
                            <p  class="text-center text-danger"><small>No data found</small></p>
                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" id="transit">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel">Details</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table">
                                            <thead>
                                                <!-- <th>Transit Id</th> -->
                                                <th>Key No</th>
                                                <th>Chassis No</th>
                                                <th>Engine No</th>
                                                <th>Model Code</th>
                                                <th>Vehicle Model Name</th>
                                                <th>Color</th>
                                                <th>Variant Name</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of purchasebyid">
                                                    <!-- <td>{{item.transitId}}</td>-->
                                                    <td>{{item.keyNo}}</td>
                                                    <td>{{item.chassisNo}}</td>
                                                    <td>{{item.engineNo}}</td>
                                                    <td>{{item.modelCode}}</td>
                                                    <td>{{item.vehicleModelName}}</td>
                                                    <td>{{item.colorName}}</td>
                                                    <th>{{item.variantName}}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>