<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header bg-primary">
                    <h3 class="card-title">stock transfer Details</h3>
                </div>
                <form [formGroup]="stocktransferForm" (ngSubmit)="submit()">
                    <div class="row p-3">
                       
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="modelName">Date</label>
                                <input type="date" class="form-control" formControlName="date" id="name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="modelName">Chassis No</label>
                                <select class="form-select" formControlName="chassisNo">
                                    <option *ngFor="let data of chassisdata" [value]="data.chassisNo">{{data.chassisNo}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="modelName">Engine No</label>
                                <select class="form-select" formControlName="engineNo">
                                    <option *ngFor="let data of enginedata" [value]="data.engineNo">{{data.engineNo}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="modelName">Model Name</label>
                                <select class="form-select" formControlName="vehicleModelId">
                                    <!-- <option value="0" selected>All Model Name</option> -->
                                    <option *ngFor="let bikemodel of bikemodelname;let i=index;" [value]="bikemodel.modelId">{{bikemodel.modelName}}</option>
                                </select>
                            </div>
                        </div>
                      
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="modelName">From showroom Name</label>
                                <select class="form-select" formControlName="fromShowRoomId">
                                    <!-- <option value="0">All showroom name</option> -->
                                    <option *ngFor="let data of showroomdata;" [value]="data.showRoomId">{{data.showRoomName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="modelName">To showroom Name</label>
                                <select class="form-select" formControlName="toShowRoomId">
                                    <!-- <option value="0">All showroom name</option> -->
                                    <option *ngFor="let data of showroomdata;" [value]="data.showRoomId">{{data.showRoomName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 pt-3">
                            <div class="form-group pt-3 text-center">
                                <button class="btn btn-success" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>    
    <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr class="text-center">
                  <th>SI.NO</th>
                  <th>Name</th>                                   
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <!-- <tr *ngFor="let data of roles;let i=index;">
                  <td>{{i+1}}</td>
                  <td>{{data.role}}</td>                             
                  <td><i class="fas fa-edit" style="color: blue;" (click)="edit(data.roleId)"></i></td>
                  <td><i class="fa fa-trash" style="color: red;" aria-hidden="true" (click)="delete(data.roleId)"></i></td>
                </tr>               -->
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
</div>