<div class="container">

    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header bg-primary">
                <h3 class="card-title">Yard To Yard List</h3>
                <button class="btn btn-success float-end btn-sm" (click)="stockTransfer()">Stock Transfer</button>
            </div>
            <form [formGroup]="stockForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="modelName">Showroom Name</label>
                                <select class="form-select" formControlName="ShowRoomId"
                                    (change)="changeShowroom($event)">
                                    <option value="0">All showroom name</option>
                                    <option *ngFor="let data of showroomdata;" [value]="data.showRoomId">
                                        {{data.showRoomName}}</option>
                                </select>
                                <div *ngIf="submitted">
                                    <span class="text-danger" *ngIf="stockForm.controls.ShowRoomId.errors?.required">
                                        <small>Showroom name required</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">From Yard</label>
                                <select class="form-select" aria-label="Default select example"
                                    formControlName="fromYardId">
                                    <option>Select</option>
                                    <option *ngFor="let data of yardname" [value]="data.yardId">{{data.yardName}}
                                    </option>
                                </select>
                                <div *ngIf="submitted">
                                    <span class="text-danger" *ngIf="stockForm.controls.fromYardId.errors?.required">
                                        <small>Yard Name required</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">To Yard</label>
                                <select class="form-select" aria-label="Default select example"
                                    formControlName="toYardId">
                                    <option>Select</option>
                                    <option *ngFor="let data of yardname" [value]="data.yardId">{{data.yardName}}
                                    </option>
                                </select>
                                <div *ngIf="submitted">
                                    <span class="text-danger" *ngIf="stockForm.controls.toYardId.errors?.required">
                                        <small>Yard Name required</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Date</label>
                                <input type="date" class="form-control" formControlName="date" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <div class="form-group mt-2 pt-1">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>

    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr class="text-center">
                            <th>SI.NO</th>
                            <th>Received Date</th>
                            <th>Chassis No</th>
                            <th>Engine No</th>
                            <th>Showroom Name</th>
                            <th>Color Name</th>
                            <th>Model Name</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let data of vehiclestock;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{data.receivedDate|date}}</td>
                            <td>{{data.chassisNo}}</td>
                            <td>{{data.engineNo}}</td>
                            <td>{{data.showRoomName}}</td>
                            <td>{{data.colorName}}</td>
                            <td>{{data.vehicleModelName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>