<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header bg-primary">
                    <h3 class="card-title">Advance Booking</h3>
                </div>
                <form [formGroup]="advancebookForm" (ngSubmit)="submit()">
                    <div class="row p-2">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="modelName">Name</label>
                                <input type="text" class="form-control" formControlName="name" placeholder="Name">
                                <div class="text-danger" *ngIf="submitted">
                                    <span  *ngIf="advancebookForm.controls.name.errors?.required">Name required.</span> 
                                 </div>
                            </div>
                            
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="modelName">Mobile No</label>
                                <input type="number" class="form-control" formControlName="mobileNo"
                                    placeholder="Mobile No">
                                    <div class="text-danger" *ngIf="submitted">
                                        <span  *ngIf="advancebookForm.controls.mobileNo.errors?.required">Mobile Number required.</span>
                                        <span *ngIf="advancebookForm.controls.mobileNo.errors?.pattern">Please, Enter 10 digit Mobile Number.</span>
                                        <span></span> 
                                     </div> 
                            </div>
                            
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="modelName">Gender</label>
                                <select formControlName="gender" class="form-select dropdown-primary" id="Select1">
                                    <option value="">Select Gender</option>
                                    <option value="Male" selected>Male</option>
                                    <option value="Female" selected>Female</option>
                                    <option value="Other">Other</option>
                                </select>
                                <div class="text-danger" *ngIf="submitted">
                                    <span  *ngIf="advancebookForm.controls.gender.errors?.required">Gender type required.</span> 
                                 </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="modelName">Date</label>
                                <input type="date" class="form-control" formControlName="date" placeholder="Date">
                                <div class="text-danger" *ngIf="submitted">
                                    <span  *ngIf="advancebookForm.controls.date.errors?.required">date required.</span> 
                                 </div>
                            </div>
                            
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="modelName">Payment Mode Id</label>
                                <select formControlName="paymentModeId" class="form-select dropdown-primary"
                                    id="Select1">
                                    <option value="">Payment Mode</option>
                                    <option *ngFor="let list of paymentoption" [value]=list.paymentModeId>
                                        {{list.paymentModeName}}</option>
                                </select>
                                <div class="text-danger" *ngIf="submitted">
                                    <span  *ngIf="advancebookForm.controls.paymentModeId.errors?.required">Payment Mode required.</span> 
                                 </div>
                            </div>
                           
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="modelName">Advance Amount</label>
                                <input type="number" class="form-control" formControlName="advanceAmount"
                                    placeholder="Advance Amount">
                                    <div class="text-danger" *ngIf="submitted">
                                        <span  *ngIf="advancebookForm.controls.advanceAmount.errors?.required">Advance amount required.</span> 
                                     </div>
                            </div>
                            
                        </div>
                        <div class="col-md-3" *ngIf="role==1">
                            <div class="form-group">
                                <label for="modelName">Showroom Name</label>
                                <select class="form-select" formControlName="showRoomId">
                                    <option value="">Showroom Name</option>
                                    <option *ngFor="let name of showdata" [value]="name.showRoomId">{{name.showRoomName}}</option>
                                </select>
                                <div class="text-danger" *ngIf="submitted">
                                    <span  *ngIf="advancebookForm.controls.showRoomId.errors?.required">ShowRoom name required.</span> 
                                 </div>
                            </div>
                           
                        </div>
                        <div class="col-md-3">
                            <label for="modelName">Model Name</label>
                            <select formControlName="modelId" class="form-select dropdown-primary"
                                (change)='modelnamechange($event)'>
                                <option value="">Model Name</option>
                                <option *ngFor="let data of modelcode" [value]="data.modelId">{{data.modelName}}
                                </option>
                            </select>
                            <div class="text-danger" *ngIf="submitted">
                                <span  *ngIf="advancebookForm.controls.showRoomId.errors?.required">ShowRoom name required.</span> 
                             </div>
                        </div>
                        <div class="col-md-3">
                            <label for="modelName">Color Name</label>
                            <select formControlName="colorId" class="form-select dropdown-primary" (change)='colornamechange($event)'>
                                <option value="">Color Name</option>
                                <option *ngFor="let data of colorcode" [value]="data.colorId">{{data.colorName}}
                                </option>
                            </select>
                            <div class="text-danger" *ngIf="submitted">
                                <span  *ngIf="advancebookForm.controls.colorId.errors?.required">Color name required.</span> 
                             </div>
                        </div>
                        <div class="col-md-3">
                            <label for="modelName">Variant Name</label>
                            <select formControlName="variantId" class="form-select dropdown-primary">
                                <option value="" >Variant Name</option>
                                <option *ngFor="let data of varientcode" [value]="data.variantId">{{data.variantName}}
                                </option>
                            </select>
                            <div class="text-danger" *ngIf="submitted">
                                <span  *ngIf="advancebookForm.controls.variantId.errors?.required">Variant name required.</span> 
                             </div>
                        </div>


                        <div class="col-md-3">
                            <div class="card-body mt-3 pt-1text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>