/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body{
    overflow-x: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: sans-serif; }
p{
    font-family: ui-sans-serif;
    font-size: 16px;
}
h3.card-title {
    margin: 0px !important;
    padding-top: 0.25rem!important;
}