<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-primary">
				<div class="card-header bg-primary">
					<h3 class="card-title">Vehicle Purchase Add</h3>
                </div>
				<form [formGroup]="vehiclepurchaseForm" (ngSubmit)="submit()">
				<div class="col-md-12 pt-3 border">
					<div class="card card-primary">	
							<div class="card-body">
								<div class="row">
                                    <div class="col-md-6">				
										<div class="form-group row">
											<div class="col-md-6">
												<label for="exampleInputEmail1">Invoice No</label>
                                                <input type="text" class="form-control" placeholder="Invoice no" formControlName="invoiceNo">
												<div *ngIf="submitted">
													<span class="text-danger"
														*ngIf="vehiclepurchaseForm.controls.invoiceNo.errors?.required">
														<small>Invoice no is required</small>
													</span>
												</div>
											</div>
											<div class="col-md-6">
												<label for="exampleInputEmail1">Date</label>
                                                <input type="date" class="form-control" formControlName="invoiceDate">
												<div *ngIf="submitted">
													<span class="text-danger"
														*ngIf="vehiclepurchaseForm.controls.invoiceDate.errors?.required">
														<small>Invoice date is required</small>
													</span>
												</div>
                                            </div>
										</div>						
										<div class="form-group row">											
											<div class="col-md-6">
                                                <label for="exampleInputEmail1">Received Date</label>
											<input type="date" class="form-control" formControlName="receivedDate">
											<div *ngIf="submitted">
												<span class="text-danger"
													*ngIf="vehiclepurchaseForm.controls.receivedDate.errors?.required">
													<small>Received date is required</small>
												</span>
											</div>
                                            </div> 
											<div class="col-md-6">
												<label for="exampleInputEmail1">Transit Type</label>                                                
											<select class="form-select" formControlName="purchaseType">
												<option value="" hidden>Select transit type</option>
                                                <option value="1">Within State</option>
                                                <option value="2">Outside State</option>
                                            </select>
											<div *ngIf="submitted">
												<span class="text-danger"
													*ngIf="vehiclepurchaseForm.controls.purchaseType.errors?.required">
													<small>Purchase type is required</small>
												</span>
											</div>
                                            </div>
											                                         
										</div>
										<div class="form-group row">
											<div class="col-md-6" *ngIf="roledata==1">
												<div class="form-group">
													<label for="exampleInputEmail1">ShowRoom Name</label>
													<select class="form-select" aria-label="Default select example" formControlName="showRoomId" (change)="changeshowroom($event)">
														<option value="" hidden>Select showroom</option>
														<option *ngFor="let data of showdata" [value]="data.showRoomId">{{data.showRoomName}}</option>
													</select>
													<div *ngIf="submitted">
														<span class="text-danger"
															*ngIf="vehiclepurchaseForm.controls.showRoomId.errors?.required">
															<small>Showroom name is required</small>
														</span>
													</div>											
												</div>
											</div>
											<div class="col-md-6">
												<label for="exampleInputEmail1">Yard Name</label>
												<select class="form-select" formControlName="yardId">
													<option value="" hidden>Select Yard</option>
													<option *ngFor="let item of yardname" [value]="item.yardId">{{item.yardName}}</option>
												</select>
												<div *ngIf="submitted">
													<span class="text-danger"
														*ngIf="vehiclepurchaseForm.controls.yardId.errors?.required">
														<small>Yard name is required</small>
													</span>
												</div>
											</div>	  
											<div class="col-md-6">
												<!-- <label for="exampleInputEmail1">Pay Mode</label> -->
                                                <input type="file" #myInput  multiple="false" (change)="onFileChange($event)" accept=".xls,.xlsx" />
                                            </div>					
										</div>
                                </div>
                                <div class="col-md-6">
									<fieldset class="border p-2">
										<legend  class="float-none w-auto p-2">Supplier Details</legend>
										<div class="form-group row">
											<div class="col-md-6">
												<label>Name</label>  
												<select class="form-select" formControlName="supplierName" (change)="selectsupplier($event)">
													<option value="" hidden>Select supplier name</option>
													<option *ngFor="let item of vendordata" [value]="item.vendorId">{{item.companyName}}</option>
												</select>
												<div *ngIf="submitted">
													<span class="text-danger"
														*ngIf="vehiclepurchaseForm.controls.supplierName.errors?.required">
														<small>Supplier name is required</small>
													</span>
												</div>
											</div>
											<div class="col-md-6">
												<label>Gst</label>  
												<input type="text" class="form-control" placeholder="Gst" formControlName="supplierGST">												
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-12">
												<label>Address</label>  
												<textarea class="form-control" placeholder="Address" formControlName="suppierAddress" rows="2"></textarea>
											</div>
										</div>
									 </fieldset>
                                </div>
								</div>
							</div>
						
					</div>
				</div>		
                <div class="card-body border" *ngIf="count==1">
					<div class="card-header bg-primary">						
						<!-- <button class="btn btn-success float-right" (click)="submit()">Submit</button> -->
						<h3 class="card-title">Transit List</h3>
					</div>
					<div style="overflow-x:auto;overflow-y: auto;height: 200px;">
					<table  class="table table-bordered table-sm" cellspacing="0"
					width="100%">
						<thead style="text-align: center;">
							<tr>
								<th>S.No</th>
								<th>Key No</th>
								<th>Chassis No</th>
								<th>Engine No</th>
								<th>Model Code</th>
								<th>Model Name</th>
								<th>color code</th>
								<th>color Name</th>
								<th>Variant Code</th>
								<th>Variant Name</th>								
							</tr>
						</thead>
						<tbody style="text-align: center;" *ngIf="purchase">
							 <tr *ngFor="let row of purchase; let i=index; " (change)="onChange($event,i)" class="table-info" >
								<td>{{i+1}}</td>
								<td><input type="text" /></td>
								<td>{{row.chassisNo	}}</td>
								<td>{{row.engineNo}}</td>
								<td>{{row.modelCode}}</td>
								<td>{{row.vehicleModelName}}</td>
								<td>{{row.modelColorCode}}</td>
								<td>{{row.colorName}}</td>
								<td>{{row.variantCode}}</td>
								<td>{{row.variantName}}</td>
							</tr> 
						</tbody>
						<tbody style="text-align: center;" *ngIf="exceldata">
							<tr *ngFor="let row of exceldata; let i=index; " class="table-info" >
								<td>{{i+1}}</td>
								<td><input type="text" (change)="onChange($event,i)" /></td>
								<td>{{row.ChassisNo	}}</td>
								<td>{{row.EngineNo}}</td>
								<td>{{row.ModelCode}}</td>
								<td [class.color]='row.modelname == null'>{{row.modelname}}</td>
								<td>{{row.ModelColorCode}}</td>
								<td [class.color]='row.colorname == null'>{{row.colorname}}</td>
								<td>{{row.VariantCode}}</td>
								<td [class.color]='row.variantname == null'>{{row.variantname}}</td>
							</tr> 
						</tbody>
					</table>
				</div>
				</div>
				<div class="col-md-12 border">
					<div class="row">
						<fieldset class="border p-2">
							<legend  class="float-none w-auto p-2">Pay Details</legend>
							<div class="row">	
							<div class="col-md-6 mt-3">													
								<div class="form-group row">
									<div class="col-md-4">
										<label for="exampleInputEmail1">Total Vehicle Cost</label>
									<input type="text" class="form-control" 
										placeholder="Total Vehicle Cost" (change)="vehiclecost($event)" formControlName="totalVehicleCost">
										<div *ngIf="submitted">
											<span class="text-danger"
												*ngIf="vehiclepurchaseForm.controls.totalVehicleCost.errors?.required">
												<small>Total Vehicle Cost is required</small>
											</span>
										</div>
									</div>
									<div class="col-md-2">
										<label for="exampleInputEmail1">IGST</label>								 
									<input type="text" class="form-control" 
										placeholder="%" formControlName="igstPercentage" (change)="igst($event)">							
									</div>
									<div class="col-md-6">
										<label for="exampleInputEmail1">Insurance Amount</label>
									<input type="text" class="form-control" 
										placeholder="Insurance" formControlName="insurance" (change)="insurance($event)">
									</div>	
								</div>							
								<div class="form-group row">
									<div class="col-md-4">
										<label for="exampleInputEmail1">Freight Amount</label>								 
									<input type="text" class="form-control" 
										placeholder="Freight" formControlName="freight" (change)="freight($event)">							
									</div>			
									<div class="col-md-2">
										<label for="exampleInputEmail1">discount</label>								 
									<input type="text" class="form-control" 
										placeholder="%" formControlName="discountPercentage" (change)="discount($event)">							
									</div>	
									<div class="col-md-6">
										<label for="exampleInputEmail1">Additional Discount</label>								
										<input type="text" class="form-control" 
										placeholder="Additional Discount" formControlName="additionalDiscount" (change)="discountamount($event)">
									</div>
																				
								</div>
								<div class="form-group row">
									<div class="col-md-6">
										<label for="exampleInputEmail1">Total Amount</label>
									<input type="text" class="form-control" 
										placeholder="Total" formControlName="total" [value]="this.total" readonly>
										<div *ngIf="submitted">
											<span class="text-danger"
												*ngIf="vehiclepurchaseForm.controls.total.errors?.required">
												<small>Total is required</small>
											</span>
										</div>
									</div>
									<div class="col-md-6">		
										<label for="exampleInputEmail1">Net Amount</label>						
										<input type="text" class="form-control" 
										placeholder="Net Amount" formControlName="netAmount" [value]="this.netamount" readonly>
										<div *ngIf="submitted">
											<span class="text-danger"
												*ngIf="vehiclepurchaseForm.controls.netAmount.errors?.required">
												<small>Net Amount is required</small>
											</span>
										</div>
									</div>									
								</div>								
							</div>
							<div class="col-md-6 mt-3">
								<fieldset class="border p-2">
									<legend  class="float-none w-auto p-2">Pay Details</legend>
									<div class="form-group row">
										<div class="col-md-12">
											<label for="exampleInputEmail1">Payment Mode</label>
											<select class="form-select" (change)="onchange($event)" formControlName="paymentModeId">
												<option value="" hidden>Select payment Mode</option>
												<option value="1">Cash</option>
												<option value="2">Card</option>
												<option value="3">Cheque</option>
											</select>
											<div *ngIf="submitted">
												<span class="text-danger"
													*ngIf="vehiclepurchaseForm.controls.paymentModeId.errors?.required">
													<small>Payment Mode is required</small>
												</span>
											</div>
										</div>
									</div>
									<div class="form-group row" *ngIf="textboxdisplay=='card'">
										<div class="col-md-12">
											<label for="exampleInputEmail1">Card Details</label>
											<textarea rows="2" class="form-control" formControlName="cardDetails"></textarea>
										</div>
									</div>
									<div class="form-group row"  *ngIf="textboxdisplay=='cheque'">
										<div class="col-md-12">
											<label for="exampleInputEmail1">Cheque Details</label>
											<textarea rows="2" class="form-control" formControlName="checkDetails"></textarea>
										</div>
									</div>
								</fieldset>								
							</div>
						</div>
						</fieldset>				
				
					<div class="col-md-12 text-center my-3">
						<button class="btn btn-success" type="submit">Save</button>
						<button type="button" class="btn btn-danger ml-3" (click)="clear()">Clear</button>
					</div>
				</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>