<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img
        src="assets/dist/img/yamahalogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
      />
      <span class="brand-text font-weight-light">YAMAHA</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img
            src="assets/dist/img/avatar5.png"
            class="img-circle elevation-2"
            alt="User Image"
          />
        </div>
        <div class="info">
          <a href="#" class="d-block">Admin</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-item has-treeview menu-open">
            <a href="/#/dashboard" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>                    
          </li>
          <li class="nav-item has-treeview menu-open">
            <div class="nav-link ">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Master
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">7</span>
              </p>
            </div>
            <ul class="nav nav-treeview ">
              <li class="nav-item">
                <a href="/#/dashboard/rolemaster" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Role Master</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/dashboard/showroom" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Show Room</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/dashboard/yard" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Yard</p>
                </a>
              </li>
              
              <li class="nav-item">
                <a href="/#/dashboard/bikemodel" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bike Models</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/dashboard/color" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bike Color</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/dashboard/variant" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bike Variant</p>
                </a>
              </li>
              
              <li class="nav-item">
                <a href="/#/dashboard/vendor" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Vendors</p>
                </a>
              </li> 
              <li class="nav-item">
                <a href="/#/dashboard/finance" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Finance</p>
                </a>
              </li> 
              </ul>        
            </li>

          <li class="nav-item has-treeview menu-open">
            <a href="/#/transitlist" class="nav-link ">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Transit List
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">7</span>
              </p>
            </a>
            <!-- <ul class="nav nav-treeview ">
              <li class="nav-item">
                <a href="/#/dashboard/rolemaster" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Role Master</p>
                </a>
              </li>
              </ul>     -->
            <ul class="nav nav-treeview ">
              <li class="nav-item">
                <a href="/#/dashboard/transitlist" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Transit List</p>
                </a>
              </li>
              </ul>
              <!-- <ul class="nav nav-treeview ">
                <li class="nav-item">
                  <a href="/#/dashboard/showroom" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Show Room</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/#/dashboard/yard" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Yard</p>
                  </a>
                </li>
                </ul> -->
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/#/dashboard/vehiclepurchase" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Vehicle Purchase</p>
                    </a>
                  </li>
                  </ul>
            </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Vehicle sales
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">7</span>
              </p>
            </a>
            <ul class="nav nav-treeview ">           
              <li class="nav-item">
                <a href="/#/dashboard/vehiclesalelist" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Vehicle Sale</p>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a href="/#/dashboard/bikemodel" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bike Models</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/dashboard/color" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bike Color</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/dashboard/variant" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bike Variant</p>
                </a>
              </li>
              
              <li class="nav-item">
                <a href="/#/dashboard/vendor" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Vendors</p>
                </a>
              </li>             -->
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Stock Management
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">7</span>
              </p>
            </a>
            <ul class="nav nav-treeview ">           
              <li class="nav-item">
                <a href="/#/dashboard/vehiclestock" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Vehicle Stock</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/dashboard/showroomtoyard" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Showroom to Yard</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/dashboard/yardtoyard" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Yard to Yard Transfer</p>
                </a>
              </li>
            </ul>
          </li>
        
          <!-- <li class="nav-item has-treeview ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Spares sales
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">3</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Spares purchase Add</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Spares Inventory upload</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add customer details</p>
                </a>
              </li>              
            </ul>
          </li>
          <li class="nav-item has-treeview ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Service
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">8</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Jobcard details</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add customer remarks</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add supervisor remarks</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add mechanic details</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add labour charges based on codes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>service should be validate</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>listout spares used by mechanic for incentive</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Billing-> FOC/ warranty/ Paid</p>
                </a>
              </li>               
            </ul>
          </li> -->
          <!-- <li class="nav-item has-treeview ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Enquiry
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">2</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/layout/top-nav.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add customer details</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/layout/boxed.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Follow up</p>
                </a>
              </li>         
            </ul>
          </li>          -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
