<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a class="brand-link">
      <img
        src="assets/dist/img/yamahalogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
      />
      <span class="brand-text font-weight-light text-light">YAMAHA</span>
    </a>
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img
            src="assets/dist/img/avatar5.png"
            class="img-circle elevation-2"
            alt="User Image"
          />
        </div>
        <div class="info">
          <a class="d-block text-light">{{userdata}}</a>
        </div>
      </div>
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-item has-treeview menu-open">
            <a href="/#/dashboard" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>                    
          </li>
          <li class="nav-item has-treeview menu-open">
            <a  class="nav-link ">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Master
                <i class="fas fa-angle-left right"></i>
                <!-- <span class="badge badge-info right">7</span> -->
              </p>
            </a>
            <ul class="nav nav-treeview ">
             
              <li class="nav-item">
                <a href="/#/dashboard/showroom" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Showroom</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/dashboard/yard" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Yard</p>
                </a>
              </li>
              
              <li class="nav-item">
                <a href="/#/dashboard/bikemodel" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bike Models</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/dashboard/color" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bike Color</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/dashboard/variant" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bike Variant</p>
                </a>
              </li>
              
              <li class="nav-item">
                <a href="/#/dashboard/vendor" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Vendors</p>
                </a>
              </li> 
              <li class="nav-item">
                <a href="/#/dashboard/finance" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Finance</p>
                </a>
              </li> 
              </ul>        
          </li>

          <li class="nav-item has-treeview menu-open">
            <a  class="nav-link ">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Vehicle Purchase
                <i class="fas fa-angle-left right"></i>
                <!-- <span class="badge badge-info right">7</span> -->
              </p>
            </a>
           
            <ul class="nav nav-treeview ">
              <li class="nav-item">
                <a href="/#/dashboard/transitlist" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Transit List</p>
                </a>
              </li>
              </ul>
             
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/#/dashboard/vehiclepurchase" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Vehicle Purchase</p>
                    </a>
                  </li>
                  </ul>
            </li>
          <li class="nav-item has-treeview menu-open">
            <a class="nav-link ">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Vehicle sales
                <i class="fas fa-angle-left right"></i>
                <!-- <span class="badge badge-info right">7</span> -->
              </p>
            </a>
            <ul class="nav nav-treeview ">           
              <li class="nav-item">
                <a href="/#/dashboard/vehiclesalelist" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Vehicle Sale</p>
                </a>
              </li>              
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a  class="nav-link ">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Stock Management
                <i class="fas fa-angle-left right"></i>
                <!-- <span class="badge badge-info right">7</span> -->
              </p>
            </a>
            <ul class="nav nav-treeview ">           
              <li class="nav-item">
                <a href="/#/dashboard/vehiclestock" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Vehicle Stock</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/dashboard/listshowroomtransfer" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Showroom to Yard</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/#/dashboard/listyardtransfer" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Yard to Yard Transfer</p>
                </a>
              </li>

            </ul>
          </li>   
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
